{% extends "::base.html.twig" %}
{% block title %}Partager une vidéo{% endblock %}

{% block body %}

<h3 style="margin-top:50px;">Partager une vidéo</h3>

{# L'utilisateur est-il connecté ? #}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# L'utilisateur est connecté ! #}
    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>

{% else %}
    {# L'utilisateur n'est pas connecté ! #}
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
    <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
{% endif %}


{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Bien le bonjour {{ app.user.username }} !
{% endif %}

<form action="{{ path('front_general_homepage') }}" method="POST" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Partagez votre vidéo" />
</form>

{% endblock %}

